<mat-toolbar color="primary" style="position: sticky; top: 0; z-index: 1;">
  <mat-icon [ngStyle]="{color: isConnected ? '#4fc531' : 'red'}"> directions_car</mat-icon>
  <div style="flex: 0 1 10px"></div>
  <span>Smart Parking</span>
  <div style="flex: 1"></div>

  <button mat-mini-fab matTooltip="Add new car to the garage" color="accent" (click)="dialog.open(templateRef)">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</mat-toolbar>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
       style="width: calc(100% - 40px); margin: 20px; flex: 1; overflow: auto">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- lpn Column -->
  <ng-container matColumnDef="lpn">
    <th mat-header-cell *matHeaderCellDef> License Plate Number</th>
    <td mat-cell *matCellDef="let element"> {{element.lpn}} </td>
  </ng-container>

  <!-- entryTime Column -->
  <ng-container matColumnDef="entryTime">
    <th mat-header-cell *matHeaderCellDef> Entry Time</th>
    <td mat-cell *matCellDef="let element"> {{element.entryTime | date: 'yyyy.MM.dd HH:mm:ss'}} </td>
  </ng-container>

  <!-- leaveTime Column -->
  <ng-container matColumnDef="leaveTime">
    <th mat-header-cell *matHeaderCellDef> Leave Time</th>
    <td mat-cell *matCellDef="let element"> {{element.leaveTime | date: 'yyyy.MM.dd HH:mm:ss'}} </td>
  </ng-container>

  <!-- Actions column -->
  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef> Actions</th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element.leaveTime === null">
        <button mat-mini-fab matTooltip="Remove from garage" color="warn" (click)="removeCar(element.lpn)">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </ng-container>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<ng-template #templateRef let-data>
  <form>
    <h2>Add a new car to the garage</h2>
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>License Plate Number</mat-label>
      <input matInput #plateNum required type="text" id="license-plate-number" autocomplete="off">
    </mat-form-field>

    <div style="display: flex; flex-direction: row;">
      <button mat-raised-button type="button" (click)="dialog.closeAll()">Cancel</button>
      <div style="flex: 1"></div>
      <button mat-raised-button type="button" color="primary" [disabled]="plateNum.value === ''" (click)="addNewCar(plateNum.value); dialog.closeAll();">Add</button>
    </div>
  </form>
</ng-template>

